@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Proforma" asp-action="Index">
                <lord-icon src="https://cdn.lordicon.com/slkvcfos.json" trigger="hover" style="width:50px;height:50px">
                </lord-icon>
            </a>
        </li>

        <li class="nav-item bus">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello
                @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
            asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark"><lord-icon
    src="https://cdn.lordicon.com/nxaaasqe.json"
    trigger="hover"
    style="width:50px;height:50px">
</lord-icon></button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">
                <lord-icon src="https://cdn.lordicon.com/dxjqoygy.json" trigger="hover" style="width:50px;height:50px">
                </lord-icon>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">
                <lord-icon src="https://cdn.lordicon.com/jvucoldz.json" trigger="hover" style="width:50px;height:50px">
                </lord-icon>
            </a>
        </li>
    }
</ul>
